<section class="card">
    <div class="card-body">
        <h1>Categorias</h1>
        <h3>Bienvenido {{user_global.names}}</h3>
        
        <p>Somos una empresa que se preocupa por nuestros consumidores </p>
    </div>
</section>