<section class="card">
    <div class="card-body">
        <h1>Comidas</h1>
        <p>Somos una empresa que lleva universitarios por todo el pais a su campus de forma segura y divertida</p>
    </div>
</section>