<section class="card">
    <div class="card-body">
        <h1>Recetas</h1>
        {{#each recetas}}
            <div class="card mb-3">
            <img class="card-img-top" src="/img/comida.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{R_nombre}}</h5>
                <p class="card-text">{{R_descripcion}}</p>
                <a href="/recipes/completerecipe/{{_id}}"><button type="button" class="btn btn-outline-info">Ver Receta Completa</button></a>
            </div>
            </div>
        {{/each}}
    </div>
</section>