<div class="jumbotron mt-4">

    <div class="card-body">
    <h1 class="display-4">¡A MANTENERTE INFORMADO DE TU COMIDA!</h1>
    <p class="lead">Preocupados por mantenerlos informados de sus alimentos de nuestros usuarios brindándoles una buena información y cálculo del tiempo de vida de sus alimentos.</p>
    </div>

    <div class="progress">
    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <div class="card-body">
    <h2 >¡SIENTETE SEGURO CON NUESTRA PAGINA!</h2>
    <p class="lead">¿Por qué escogernos?</p>
    </div>
    

    <div class="card-body">

    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
    <div class="card-header"><h4>10 años</h4></div>
    <div class="card-body">
        <h5 class="card-title">de experiencia</h5>
    </div>
    </div>

    <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
    <div class="card-header"><h4>+1 Millones</h4></div>
    <div class="card-body">
        <h5 class="card-title">de clientes</h5>
    </div>
    </div>

    <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
    <div class="card-header"><h4>Garantizamos</h4></div>
    <div class="card-body">
        <h5 class="card-title">cálculos que se asemejan a la realidad </h5>
    </div>
    </div>
    
    </div>

</div>