
body {
    background-image: url('https://domf5oio6qrcr.cloudfront.net/medialibrary/11499/3b360279-8b43-40f3-9b11-604749128187.jpg');
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
