<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Go Food</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {{#if user_global}}
                    <li class="nav-item active">
                    <a class="nav-link" href="/dashboard"><i class="fa-solid fa-gauge p-1" style="color: #ffffff;"></i>Dashboard<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/dashboard/foods"><i class="fa-solid fa-utensils p-1" style="color: #ffffff;"></i>Alimentos<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/dashboard/recipes"><i class="fa-solid fa-list p-1" style="color: #ffffff;"></i>Recetas<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/dashboard/inventory"><i class="fa-solid fa-shop p-1" style="color: #ffffff;"></i>Inventario<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/dashboard/categories"><i class="fa-solid fa-tag p-1" style="color: #ffffff;"></i>Categorias<span class="sr-only">(current)</span></a>
                    </li>
                {{else}}
                    <li class="nav-item active">
                    <a class="nav-link" href="/contact"><i class="fa-solid fa-phone p-1" style="color: #ffffff;"></i>Contactanos<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/about"><i class="fa-solid fa-star p-1" style="color: #ffffff;"></i>Sobre Nosotros<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/rates"><i class="fa-solid fa-truck-fast p-1" style="color: #ffffff;"></i>Tarifas<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/steps"><i class="fa-solid fa-shoe-prints p-1" style="color: #ffffff;"></i>Pasos<span class="sr-only">(current)</span></a>
                    </li>
                {{/if}}
            </ul>
            <ul class="navbar-nav ml-auto">
                {{#if user_global}}
                    <li class="nav-item active">
                    <a class="nav-link" href="/user/logout"><i class="fa-solid fa-right-from-bracket p-1" style="color: #ffffff;"></i>Cerrar Sesión<span class="sr-only">(current)</span></a>
                    </li>
                {{else}}
                    <li class="nav-item active">
                    <a class="nav-link" href="/user/login"><i class="fa-solid fa-location-dot p-1" style="color: #ffffff;"></i>Inicia Sesión<span class="sr-only">(current)</span></a>
                    </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>