<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card mt-5 bg-black text-primary rounded">
      <div class="card-header text-center pt-5">
        <h1 class="h4 text-primary">
          Inicio de Sesión
        </h1>
      </div>
      <img
        class=""
        src="/img/goFoodNegro.png"
        alt="Logo"
      />
      <div class="card-body">
        <form action="/user/login" method="POST">
          <div class="mb-3">
            <label for="user"><i class="fa-solid fa-user p-1" style="color: #aaeeb5;"></i>Usuario:</label>
            <input
              type="text"
              class="form-control bg-dark text-white"
              name="user"
              placeholder="Codigo de Alumno"
              autofocus
            />
          </div>
          <div class="mb-3">
            <label for="passsword"><i class="fa-solid fa-lock p-1" style="color: #aaeeb5;"></i>Contraseña:</label>
            <input
              type="password"
              class="form-control bg-dark text-white"
              name="password"
              placeholder="Contraseña"
            />
          </div>
          <button class="btn btn-success btn-block">
            Iniciar Sesión
          </button>
        </form>
      </div>

      <p class="text-center">¿No tienes una cuenta? Sigue los <a href="/steps" class="text-info">pasos</a> o <a href="/contact" class="text-info">contactanos</a> para empezar a viajar </p>
    </div>
  </div>
</div>

