<div class="jumbotron mt-4">

    <div class="card-body">
        <h1 class="display-4">Go Food</h1>
        <h4>Es una página independiente y sin ánimo de lucro que nació en el 2023 con un objetivo claro: </h4>
        <p class="lead">la información y atención de nuestros consumidores</p>
    </div>


    <div class="progress">
    <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <div class="card-body">
    <h2>Nuestra misión</h2>
    <p class="lead">Ofrecemos información objetiva y veraz para que los consumidores tomen las mejores decisiones de consumo. Para ello nuestra página cuenta con el cálculo de caducación de los alimentos y con ciertas sugerencias de recetas con los alimentos que tiene guardo en la página</p>
    </div>

    <div class="card-body">
    <h2>Nuestra visión</h2>
    <p class="lead">Sociedades en las que todos los miembros de la comunidad están equipados con el conocimiento de cómo sus decisiones alimentarias afectan la salud llevando una mejor salud a nivel personal.</p>
    </div>

    <div class="progress">
    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <div class="card-body">
    <h2>Nuestros valores</h2>
    <h4>Lo que nos diferencia de los demás</h4>
    </div>

    <div class="card-body">

        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-header"><h4>INDEPENDENCIA</h4></div>
        <div class="card-body">
            <h5 class="card-title">Somos independientes de cualquier influencia económica o política. Los beneficios obtenidos de nuestras actividades se destinan al cumplimiento de nuestra misión</h5>
        </div>
        </div>

        <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
        <div class="card-header"><h4>CAPACITACIÓN</h4></div>
        <div class="card-body">
            <h5 class="card-title">Nuestros programas se enfocan en educar a estudiantes y comunidades sobre el origen de su comida, su producción, y cómo esta afecta su salud, al planeta y a todos quienes vivimos en él. Capacitamos a nuestra audiencia a usar esta información para tomar decisiones alimenticias que reflejen sus valores y conduzcan al futuro que desean para las generaciones venideras</h5>
        </div>
        </div>

        <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
        <div class="card-header"><h4>UTILIDAD</h4></div>
        <div class="card-body">
            <h5 class="card-title">Nuestro objetivo es ser útiles para la sociedad y, especialmente, para nuestros socios. Por eso asesoramos, informamos, defendemos sus derechos… ¡Hacemos que se escuche la voz de los consumidores!</h5>
        </div>
        </div>
    
    </div>

    


</div>