<div class="jumbotron mt-4">

    <div class="card-body">
        <h1 class="display-4">Comunícate con nosotros</h1>
        <p class="lead">Completa el formulario y pronto nos pondremos en contacto contigo</p>
    </div>


    <div class="progress">
    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <div class="card-body">
    <h2>¡Si prefieres llámanos o escribenos!</h2>
    <p class="lead">Estamos atentos a tu comunicación para poder implementar tus nuevas herramientas digitales</p>
    </div>

    <div class="card-body">
      <span class="badge rounded-pill bg-primary p-3"><h4><i class="fa-solid fa-envelope fa-bounce p-1" style="color: #ffffff;"></i> goFood@gmail.pe </h4></span>
      <span class="badge rounded-pill bg-success p-3"><h4><i class="fa-solid fa-mobile fa-bounce p-1" style="color: #ffffff;"></i>(+51) 942324567</h4></span>
      <span class="badge rounded-pill bg-danger p-3"><h4><i class="fa-solid fa-mobile fa-bounce p-1" style="color: #ffffff;"></i>(+51) 938592843</h4></span>
    </div>


    <div class="progress">
    <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <div class="card-body">

      <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
    <div class="card-header"><h4><i class="fa-brands fa-youtube fa-bounce p-1" style="color: #ffffff;"></i>Youtube</h4></div>
    <div class="card-body">
        <h5 class="card-title">https://www.youtube.com/@GoFood/about  </h5>
    </div>
    </div>

  <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
    <div class="card-header"><h4><i class="fa-brands fa-instagram fa-bounce p-1" style="color: #ffffff;"></i>Instagram</h4></div>
    <div class="card-body">
        <h5 class="card-title">https://www.instagram.com/ GoFood /  </h5>
    </div>
    </div>

    <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
    <div class="card-header"><h4><i class="fa-brands fa-instagram fa-bounce p-1" style="color: #ffffff;"></i>Facebook</h4></div>
    <div class="card-body">
        <h5 class="card-title">https://www.facebook.com/gofood/ </h5>
    </div>
    </div>


    </div>


</div>