<div class="jumbotron mt-4">

    <div class="card-body">
        <h1 class="display-4">Tarifas</h1>
        <p class="lead">Elige la mejor opción para ti</p>
    </div>


    

    <div class="card-body">

        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-header"><h4><i class="fa-solid fa-money-bill fa-bounce p-1" style="color: #ffffff;"></i>1 mes</h4></div>
        <div class="card-body">
            <h5 class="card-title">S/ 30</h5>
        </div>
        </div>

        <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
        <div class="card-header"><h4><i class="fa-solid fa-money-bill fa-bounce p-1" style="color: #ffffff;"></i>1 año</h4></div>
        <div class="card-body">
            <h5 class="card-title">S/ 200</h5>
        </div>
        </div>

    </div>

</div>