<div class="jumbotron mt-4">

    <div class="card-body">
        <h1 class="display-4">Pasos para empezar a usar Go Food</h1>
        
    </div>


    <div class="progress">
    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <div class="card-body">
    <h2>1. Elige una de las tarifas con las que contamos</h2>
    <p class="lead">Ve las tarifas en <a href="/rates">Aquí</a></p>
    </div>

    <div class="card-body">
    <h2>2. Realiza el pago correspondiente al plan que le interesa</h2>
    </div>
    
    
    <div class="card-body">
    <h2>3. Te enviaremos una boleta electronica a tu con el usuario y contraseña para que puedas ingresar</h2>
    </div>

    <div class="card-body">
    <h2>4. Ingresa a la página y aprecia todas las utilidades</h2>
    </div>

    <div class="card-body">
    <h2>¡A disfrutar de Go Food! </h2>
    </div>

</div>