<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/goFoodNegro.png">
    <title>Go Food</title>

    <!--BOOTSTRAP 4 CSS-->
    <!--
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    -->
    <!---->

    <!--BOOTSWATCH-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/minty/bootstrap.min.css" integrity="sha384-H4X+4tKc7b8s4GoMrylmy2ssQYpDHoqzPa9aKXbDwPoPUA3Ra8PA5dGzijN+ePnH" crossorigin="anonymous">
    <!---->

    <!--FONT AWESOME-->
    <script src="https://kit.fontawesome.com/1d138083e6.js" crossorigin="anonymous"></script>
    <!---->

    <!--CUSTOM CSS-->
    <link rel="stylesheet" href="/css/main.css">
    <!---->

    <!--CUSTOM CSS-->
    <link rel="stylesheet" href="/css/login.css">
    <!---->

</head>
<body>
    
    {{>navigation}}

    <main class="container p-5">
        {{>messages}}
        {{>errors}}
        {{{body}}}
    </main>  

    <!--CUSTOM CSS
    <h1>Footer</h1>
    -->






    

    <!--BOOTSTRAP 4 JS-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <!---->

    <!--BOOTSTRAP 4 CSS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!---->

</body>
</html>